body {
    font-family: Poppins, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
  }
  
  h1 {
    margin-top: 20px;
    color: #333;
  }
  
  #status {
    margin: 10px 0;
    color: #555;
    font-size: 16px;
  }
  
  #chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
  }
  
  .cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    border: 1px solid #bababa; 
    box-sizing: border-box; 
  }
  
  .cell:nth-child(even) {
    background-color: #f0f0f0;
  }
  
  .cell:nth-child(odd) {
    background-color: white;
  }
  
  .queen {
    color: red;
    font-size: 36px;
  }
  
  #resetButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #resetButton:hover {
    background-color: #0056b3;
  }
  